body {
    font: 16px/20px times new roman;
    background-image: url(floor-tile.png);
    color: rgb(150, 103, 1);
}
.container {
    width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
	padding: 20px;
}
.header {
	box-sizing: border-box;
}
.header img {
	padding-right: 20px;
	display : block;
    border-bottom: 5px solid black;
    box-sizing: border-box;
}
.header h1 {
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-bottom: 0%;
}
.tentang {
    border: 1px;
    margin: 0px;
    box-sizing: border-box;
}
.profil {
    width: 345px;
	padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
	border: 1px solid rgb(150, 103, 1);
	margin-top: 5px;
	margin-right: 5px;
	background-color: rgb(150, 103, 1);
	color: black;
}
.profil p {
    text-indent: 1cm;
}
.education {
    text-align: left;
    padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 49px;
    box-sizing: border-box;
	display: inline-block;
	background-color: black;
}
.experience {
	height: 250px;
}
.work {
	text-align: left;
	float: right;
    padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
    box-sizing: border-box;
	background-color: black;
}
.project {
    border: 1px;
    margin: 0px;
    box-sizing: border-box;
	margin-bottom: 20px;
}
.project h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
.content {
    width: 345px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
	border: 1px solid rgb(150, 103, 1);
	margin-right: 5px;
	background-color: rgb(150, 103, 1);
	color: black;
}
.testimoni {
    text-align: left;
    padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 111.75px;
    box-sizing: border-box;
	display: inline-block;
	background-color: black;
}
.testimoni table thead {
	text-align: center;
}
.contact {
	border-top: 3px solid black;
}
.contact h1 {
	background-color: black;
	text-align: center;
	padding: 20px;
}
.contact form {
	background-color: rgb(150, 103, 1);
	color: black;
	padding: 20px;
}
.contact .contactme {
    background-color: rgb(10, 10, 10);
    padding: 10px;
	color: rgb(218, 218, 218);
    text-align: center;
}